* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$mainBlack: rgb(34, 34, 34);
$mainGrey: rgb(190, 190, 190);
$mainRed: #ff0022;
$mainWhite: rgb(255, 255, 255);
$maintransition: all 0.3s linear;

body {
  font-family: 'Yomogi', cursive;
  background: $mainWhite;
  color: $mainBlack;
}

.mybg {
  background: linear-gradient(-45deg, #7873f5, #ec77ab, #537895, #09203f);
  background-size: 500% 500%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
